# Executables
serialtester
speedup
average
datatrim
main
serial

# PageRank Data
data_input*_link
data_input*_meta
data_output

# Experiment results
results*.txt
average*.txt
baseline*.txt
experiment*.txt

# Report
*.zip
lab_report.pdf
